<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - task_Managr</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/task_Managr.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/homePage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/searchStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/createStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tasksList.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
