<div class="screen">
        <div class="auth--container">
            <div class="user--image">
                <img src="~/Images/user.png" alt="user icon" />
            </div>
            <div class="auth--options">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" target="_blank">Register</a>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" target="_blank">Login</a>

            </div>
        </div>
</div>

